services:
  - type: web
    name: nakama-backend
    env: docker
    dockerfilePath: ./Dockerfile.render
    dockerContext: .
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 7350
