@import "tailwindcss";
@font-face {
    font-family: "Heading";
    src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
    font-weight: 400;
    font-style: normal;
}

theme {
    --color-main-background: #d4c9c9;
    --font-heading: "Heading", sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
